body{
    background-color: #fdede8;
}

/*header*/

#header{
    height: 200px;
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: row;
    background-color: #ffe3dc;
    justify-content: space-between;
}

#header img{
    float: left;
    height: 200px;
}

.topnav{
    display: flex;
    overflow: hidden;
    align-items: center;
    float: right;
    box-shadow: 0px 2px 2px #89a7a779;
}

.topnav a{
    float: right;
    width: 120px;
    height: 27px;
    margin: 15px;
    border: 1px solid #89a7a7;
    text-align: center;
    border-radius: 300px;
    text-decoration: none;
    font-weight: 525;
    font-size: 27px;
    color: #391463;
    display: flex;
    justify-content: center;
}


.topnav i{
    width: 45px;
    height: 45px;
    color: #391463;
    font-size: 35px;
    margin-left: 60px;
    margin-top: 18px;
}

.topnav .active {
    color: white;
    background-color: #391463;
    border:1px solid #89a7a7;
}

.topnav a:hover:not(.active){
    background-color: #ea526f;
    color: white;
    transition: 0,5s;
}

/*body*/
body{
    height: 589px;
}

/*body 1*/
.body1{
    height: 361px;
    display: flex;
    flex-direction: row;
}

/*Manchete*/
#headline{
    width: 821px;
    height: 331px;
    display: flex;
    flex-direction: row;
    border: 1px solid #391463;
    border-radius: 20px;
    margin:27px 47px 40px 47px;
   
}

#headline img{
    width: 70%;
    border-radius: 20px;
    border-color: 1px solid #391463;
}

.textNews{
  display: flex;
  flex-direction: column;
}

.textNews h2{
    margin: 21px 36px 40px 28px;
    font-weight: 300px;
    font-size: 37px;
    color:#ea526f;   
    border-bottom: 1px solid #39146369;
}

.textNews p{
    font-weight: 300;
    font-size: 22px;
    line-height: 21px;
    text-align: justify;
    margin: 30px 19px 50px 8px;

}

.textNews .leiaMais{
    align-self: flex-end;
    margin-right: 20px;
    padding-bottom: 20px;
}
.leiaMais{
    color: #89a7a7;
    box-shadow: 0px 2px 2px #00000025;
}
.leiaMais a{
    text-decoration: none;
    font-style: normal;
    color: #89a7a7;
    font-weight: 450;
    font-size: 15px;
}
