body{
    background-color: #fdede8;
}

/*header*/

#header{
    height: 150px;
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: row;
    background-color: #ffe3dc;
    justify-content: space-between;
    width: 100%;
    margin-top: none;
}

#header img{
    float: left;
    max-width: 100%;
}

.topnav{
    display: flex;
    overflow: hidden;
    align-items: center;
    box-shadow: 0px 2px 2px #89a7a779;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.topnav a{
    width: 120px;
    height: 18px;
    margin: 15px;
    border: 1px solid #89a7a7;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 350;
    font-size: 17px;
    color: #391463;
    display: flex;
    justify-content: center;
}


.topnav i{
    width: 26px;
    height: 23px;
    color: #391463;
    font-size: 20px;
    margin: 8px 20px;

}

.topnav .active {
    color: white;
    background-color: #391463;
    border:1px solid #89a7a7;
}

.topnav a:hover:not(.active){
    background-color: #ea526f;
    color: white;
    transition: 0,5s;
}

.topnav .hamburguer{
    border: none;
    display: none;
    flex-direction: column;
}

/*body*/
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*part 1*/
.part1{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 4px solid black;
    align-items: center;
    flex-wrap: wrap;
}

/*Manchete*/
.headline{
    width: auto;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid #391463;
    border-radius: 20px;
    overflow: auto; 
    margin: 10px;
    padding: 10px;
   
}

.headline img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    border-color: 1px solid #391463;
    overflow: auto;
    margin: none;
}

.textNews{
  display: flex;
  flex-direction: column;
}

.textNews h2{
    margin: 10px 8px 8px 15px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color:#ea526f;   
    border-bottom: 1px solid #39146369;
}

.textNews p{
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    margin: 5px 20px 10px 22px;

}

.textNews .leiaMais{
    align-self: flex-end;
    margin-right: 12%;
}
.leiaMais{
    color: #89a7a7;
    box-shadow: 0px 2px 2px #00000025;
}
.leiaMais a{
    text-decoration: none;
    font-style: normal;
    color: #89a7a7;
    font-weight: 300;
    font-size: 15px;
}

/* Estrutura e título mais notícias*/
#moreNews{
    height: 80%;
    width: 100%;
    max-width: 400px;
    border: 1px solid #391463;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 200px;
    margin: 10px;

    
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #39146369 ;
    height: 5px;
}
.titulo h2{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ea526f;
    align-self: center;
    margin-bottom: 70px;
}

#news1, #news2{
    height: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-bottom: 1px solid #39146369;

}

#moreNews a{
  text-decoration: none;
}

#news1 h4, #news2 h4{
    font-style: normal;
    text-align: self-start;
    font-weight: 550;
    font-size: 17px;
    display: flex;
    align-items: flex-start;
    color: black;
    order:0;
    margin-left: 5px;
   
    
}

#news1 p, #news2 p{
    font-style: normal;
    text-align: end;
    font-weight:600;
    font-size: 12px;
    line-height: 11px;
    margin-right: 10px;
    color: #89a7a7;
    align-items: flex-end;
    order:1;
}


/*part2*/
.part2{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 4px solid black;
    flex-wrap: wrap;
}

/*Review*/
.lastReview{
    width: 100%;
    height: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    border-right: 4px solid black;
}

.lastReview img{
    width: 100%;
    height:auto; 
    border: 1px solid #391463;
    border-radius: 20px;
    overflow: auto;
    margin: 20px 10px;
  

}


.textReview h2{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ea526f;  
    margin: 40px 60px 0px 50px;
    border-bottom: 1px solid #39146369;
}

.subtitleReview {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.subtitleReview h3{
    font-weight: 600;
    font-size: 18px;
    text-align: start;
    color: #391463;
    text-align: center;
}

.subtitleReview i{
    margin: 15px 0px 0px 10px;
    color: #ea526f;
}

.bodyReview {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 0px;
}

.bodyReview p{
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    margin: 5px 7px 10px 15px;
}

.bodyReview .leiaMais{
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 30px;
}
/*About me*/
.aboutMe{
    width: 100%;
    height: 100%;
    max-width: 500px;
    display: flex;
    justify-content: flex-start; 
    flex-direction: row;
    align-items: center;
}

.aboutMe img{
    width: 200%;
    height:auto; 
    border: 1px solid #391463;
    border-radius: 20px;
    overflow: auto;
    margin:  20px 15px;
 
}

.textAboutMe{
    display: flex;
    flex-direction: column;
    margin-right: 40px;
}

.textAboutMe h2{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ea526f;  
    margin:5px 50px 20px  40px;
    border-bottom: 1px solid #39146369;

}

.textAboutMe p{
    font-weight: 300;
    font-size: 18px;
    text-align: justify;
    margin: 0px 10px 10px 0px;
}

.footer{
    height: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ffe3dc;
}

 .textFooter {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #748b8b;;
    text-shadow: #556464;
    display: flex;
    align-items:center;
}


      .footer{
        display: flex;
        width: 100%;
        flex-direction: row;
        justify-content: center;
        margin: none;
        height: 15%;
      }

      .textFooter{
        font-size: 0.8rem;
        margin: 2px 6px 0px 0px;
      }

      .footer #icons i{
        font-size: 0.8rem;
        margin: 0px 0px 5px 0px;
        align-items: center;
      }

@media screen and (max-width: 1280px) {
  .headline{
    max-width: 480px;
  }
  
  #moreNews{
    max-width:400px;
  }

}

@media screen and (max-width: 913px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.hamburguer {
    float: right;
    display: block;
  }

  .topnav.responsive {
    flex-direction: column;
  }

  .topnav.responsive .hamburguer {
    display: flex;
  }

  .topnav.responsive .active {
    display: block;
  }

  .topnav.responsive a {
    width: 100%;
    text-align: center;
  }
  #header {
    height: 50px;
  }

  #header img {
    display: none;
  }

  .topnav i {
    margin-bottom: 20px;
  
  }

  .topnav a:hover:not(.active) {
    background-color: #ea526f;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons i {
    display: none;
  }

  .content {
    width: 100%;
    height: auto;
    position: relative;
  }

  .content h2{
    font-size: 1.3rem;
  }

  .content h3{
    font-size: 1.2rem;
  }

  .content h4{
    font-size: 1.1rem;
  }
  
  .content p{
    font-size: 1.0rem;
  }

  .content img{
    width: 100%;
    height: auto;
  }

  .part1 {
    display: flex;
    flex-wrap: wrap;
    height: auto;
    margin: auto;
    border: none;
    margin: none;
  }

  .headline {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 20px 0px;
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid #748b8b;
  }

  .textNews p {
    margin: auto;
  }

  .headline img{
    order:0;
  }


  #moreNews {
    width: 100%;
    height: auto;
    margin-top: auto;
    display: flex;
    justify-content: center;
    margin-top:20px;
    border: none;
    border-radius: 0px;



  }

  .titulo{
    height: 35px;
    border: none;
  }

  .titulo h2{
    margin-top: 70px;
  }
 
  #news1, #news2{
    width: 100%;
    height: auto;
    margin: auto;
    align-items: flex-start;

  }

   #news1 H4, #news2 h4{
    font-size: 1rem;
   }

  .part2 {
    height: auto;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    margin: none;
  }

  .part2 img{
    width: 150%;
  }

  .lastReview {
    width: 90%;
    height: auto;
    margin-top: 20px;
    border: none;
    display: flex;
    flex-direction: column;
    border-top: 1px solid #748b8b;
  }

  .lastReview img{
    width: 50%;
    height: auto;
  }

  .bodyReview{
    margin: auto;
  }

  .aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: auto;
    padding: 10px;
    margin: 20px 0px;
    border-top: 1px solid #748b8b;

  }

  .aboutMe img{
    width: 80%;
    height: auto;
  }

  .textAboutMe{
    margin: auto;
  }

  .textAboutMe p {
    margin-top: 25px;
  }

  .textAboutMe h2 {
    margin-top: 25px;
  }


  
  .footer{
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: row;
    justify-content: center;
    margin: none;
    height: 15px;
  }

  .textFooter{
    font-size: 0.8rem;
    margin: 2px 6px 0px 0px;
  }

  .footer #icons i{
    font-size: 0.8rem;
    margin: 5px 0px 5px 0px;
    align-items: center;
  }

}


