body{
    background-color: #fdede8;
}

/*header*/

#header{
    height: 150px;
    border-bottom: 4px solid black;
    display: flex;
    flex-direction: row;
    background-color: #ffe3dc;
    justify-content: space-between;
    width: 100%;
    margin-top: none;
}

#header img{
    float: left;
    max-width: 100%;
}

.topnav{
    display: flex;
    overflow: hidden;
    align-items: center;
    box-shadow: 0px 2px 2px #89a7a779;
}

.buttons{
    display: flex;
    flex-direction: row;
}

.topnav a{
    width: 120px;
    height: 18px;
    margin: 15px;
    border: 1px solid #89a7a7;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    font-weight: 350;
    font-size: 17px;
    color: #391463;
    display: flex;
    justify-content: center;
}


.topnav i{
    width: 26px;
    height: 23px;
    color: #391463;
    font-size: 20px;
    margin: 8px 20px;

}

.topnav .active {
    color: white;
    background-color: #391463;
    border:1px solid #89a7a7;
}

.topnav a:hover:not(.active){
    background-color: #ea526f;
    color: white;
    transition: 0,5s;
}

.topnav .hamburguer{
    border: none;
    display: none;
    flex-direction: column;
}

/*body*/
.body{
    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*part 1*/
.part1{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border-bottom: 4px solid black;
    align-items: center;
    flex-wrap: wrap;
}

/*Manchete*/
.headline{
    width: 100%;
    max-width: 600px;
    height: auto;
    display: flex;
    flex-direction: row;
    border: 1px solid #391463;
    border-radius: 20px;
    overflow: auto; 
    margin: 10px;
    padding: 10px;
   
}

.headline img{
    width: 100%;
    height: auto;
    border-radius: 20px;
    border-color: 1px solid #391463;
    overflow: auto;
    margin: none;
}

.textNews{
  display: flex;
  flex-direction: column;
}

.textNews h2{
    margin: 10px 8px 8px 15px;
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color:#ea526f;   
    border-bottom: 1px solid #39146369;
}

.textNews p{
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    margin: 5px 20px 10px 22px;

}

.textNews .leiaMais{
    align-self: flex-end;
    margin-right: 12%;
}
.leiaMais{
    color: #89a7a7;
    box-shadow: 0px 2px 2px #00000025;
}
.leiaMais a{
    text-decoration: none;
    font-style: normal;
    color: #89a7a7;
    font-weight: 300;
    font-size: 15px;
}

/* Estrutura e título mais notícias*/
#moreNews{
    height: 80%;
    width: 100%;
    max-width: 400px;
    border: 1px solid #391463;
    border-radius: 20px;
    display:flex;
    flex-direction: column;
    justify-content: center;
    font-weight: 200px;
    margin: 10px;

    
}

.titulo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #39146369 ;
    height: 5px;
}
.titulo h2{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ea526f;
    align-self: center;
    margin-bottom: 70px;
}

/*Primeira notícia*/

#news1{
    height: auto;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: start;
    margin-left: 5px;
}

#news1 h4{
    font-style: normal;
    text-align: self-start;
    font-weight: 200;
    font-size: 17px;
    display: flex;
    align-items: start;
    margin-left: 5px;
    order:0;
   
    
}

#news1 p{
    font-style: normal;
    font-weight:600;
    font-size: 12px;
    line-height: 11px;
    margin: top 10px;
    color: #89a7a7;
    align-items: flex-end;
    order:1;
}

/* Segunda notícia */

#news2{
    height: auto;
    width: 100%;
    max-width: 400px;
    border-top: 1px solid #89a7a7;
    border-bottom: 1px solid #89a7a7;
    display: flex;
    justify-content: start;
}

#news2 h4{
    font-style: normal;
    font-weight: 200;
    font-size: 17px;
    display: flex;
    align-items: start;
    margin-left: 5px;
    display: flex;
    align-items: start;
    order:0;    
}

#news2 p{
    font-style: normal;
    font-weight:600;
    font-size: 12px;
    line-height: 11px;
    margin: top 10px;
    color: #89a7a7;
    align-items: flex-end;
    order:1;
    margin-right: 27px;
}

/*part2*/
.part2{
    height: 400px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-bottom: 4px solid black;
    flex-wrap: wrap;
}

/*Review*/
.lastReview{
    width: 100%;
    height: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    border-right: 4px solid black;
    margin-right: 40px;
}

.lastReview img{
    width: 100%;
    height:auto; 
    border: 1px solid #391463;
    border-radius: 20px;
    overflow: auto;
    margin: 20px 10px;
  
    
}


.textReview h2{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ea526f;  
    margin: 40px 60px 0px 50px;
    border-bottom: 1px solid #39146369;
}

.subtitleReview {
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.subtitleReview h3{
    font-weight: 600;
    font-size: 18px;
    text-align: start;
    color: #391463;
    text-align: center;
}

.subtitleReview i{
    margin: 15px 0px 0px 10px;
    color: #ea526f;
}

.bodyReview {
    display: flex;
    flex-direction: column;
    margin: 20px 40px 20px 0px;
}

.bodyReview p{
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    margin: 5px 5px 10px 17px;
}

.bodyReview .leiaMais{
    align-self: flex-end;
    margin-right: 20px;
    margin-top: 30px;
}
/*About me*/
.aboutMe{
    width: 100%;
    height: auto;
    max-width: 500px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-left: 50px;
}

.aboutMe img{
    width: 100%;
    height:auto; 
    border: 1px solid #391463;
    border-radius: 20px;
    overflow: auto;
    margin: 20px 10px;
 
}

.textAboutMe{
    
    display: flex;
    flex-direction: column;

}

.textAboutMe h2{
    font-weight: 600;
    font-size: 25px;
    text-align: center;
    color: #ea526f;  
    margin:40px 60px 0px 50px;
    border-bottom: 1px solid #39146369;

}

.textAboutMe p{
    font-weight: 300;
    font-size: 16px;
    text-align: justify;
    margin: 80px 5px 10px 17px;
}

.footer{
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #ffe3dc;
}

 .textFooter {
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    text-align: center;
    color: #748b8b;;
    text-shadow: #556464;
    display: flex;
    align-items:center;
}


.footer #icons{
    margin-left: 20px;
}

.footer #icons i{
    margin-left: 10px;
    width: 26px;
    height: 23px;
    color: #391463;
    font-size: 20px;  
}

@media screen and (max-width: 900px) {
  .topnav a:not(:first-child) {
    display: none;
  }

  .topnav a.hamburguer {
    float: right;
    display: block;
  }

  .topnav.responsive {
    flex-direction: column;
  }

  .topnav.responsive .hamburguer {
    display: flex;
  }

  .topnav.responsive .active {
    display: block;
  }

  .topnav.responsive a {
    width: 100%;
    text-align: center;
  }
}

@media screen and (max-width: 1200px) {
  #header {
    height: 50px;
  }

  #header img {
    display: none;
  }

  .topnav i {
    margin-bottom: 20px;
  
  }

  .topnav a:hover:not(.active) {
    background-color: #ea526f;
  }

  .buttons {
    display: flex;
    flex-direction: column;
  }

  .buttons i {
    display: none;
  }

  .body {
    height: 1000px;
    position: relative;
  }

  .body h2,
  .body h4 {
    font-size: 1.2rem;
  }

  .body p,
  .body a {
    font-size: 0.9rem;
  }

  .part1 {
    display: flex;
    flex-wrap: wrap;
    height: 350px;
    border: none;
    margin: none;
  }

  .headline {
    max-width: 400px;
    margin-top: 20px;
  }

  #moreNews {
    max-width: 400px;
    height: 60%;
  }

  #news2 {
    border-bottom: none;
    height: 15px;
  }

  .part2 {
    display: flex;
    flex-wrap: wrap;
    height: 650px;
    margin: 10px;
  }

  .lastReview {
    max-width: 400px;
    margin-top: 100px;
    border: none;
  }

  .lastReview img {
    width: 60%;
    height: 60%;
  }

  .aboutMe {
    max-width: 400px;
    margin-right: 80px;
    padding: 10px;
    margin-bottom: 25px;
  }

  .textAboutMe p {
    margin-top: 25px;
  }

  .textAboutMe h2 {
    margin-top: 25px;
  }

  .aboutMe img {
    width: 60%;
    height: 60%;
  }

  .footer {
    height: 40px;
  }
}

@media screen and (max-width: 600px) {
  .aboutMe {
    border-top: 1px solid #748b8b;
  }
}
