.bg{
    background-image: linear-gradient(to right top, #000f4d, #40115f, #710b6b, #a1006e, #cd046a, #db2a83, #e8429d, #f458b7, #cb7fec, #8da0ff, #42b9ff, #05cafc);    background-color: rgb(166, 166, 255);
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0px;
}

input[type=text], select{
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=mail]{
    width: 100%;
    padding: 12px 20px;
    margin: 5px 0px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type=number]{
    width: 100%;
    padding: 12px 20px;
    margin: 15px 0px;
    display: inline-block;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

#formulario label{
    color: white;
    display: block;
    margin: 10px 0px;
}

.container{
    width: 50%;
    margin: auto;
    background-color: rgb(1, 1, 49);
    padding: 20px;
    border-radius: 6px;
}

h1{
    text-align: center;
    color: white;
}

span{
    color: white;
}

input[type=submit]{
    width: 100%;
    background-color: rgb(167, 217, 247);
    color: rgb(1, 1, 49);
    padding: 14px 0px;
    margin: 10px 0px;
    border-radius: 5px;
    border: none;
}

input[type=submit]:hover{
    background-color: rgb(131, 198, 240);
}