body{
    padding:0px;
    margin:0px;
}

.container{
    display: flex;
    justify-content: space-around;
    margin: 0px;
    padding: 0px;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}


#header{
    position: absolute;
    height: 150px;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 0px;
    margin-top: 100px;
}

#header img{
    position: relative;
    width: 200px;
    height: 160px;
}

.item2{
    position: relative;
    margin-left: 50px;
    margin-right: 50px;
    flex-wrap: wrap;
}

#header ul{
    position: relative;
    height: 56px;
    display:inline-flex;
    vertical-align: middle;
    width: auto;
    padding: 0px;
    margin: 0px;
    transform: none;
    overflow: hidden;
    line-height: normal;
    list-style-type: none;
}

#header li{
    line-height: 1.17;
    padding: 15px;
    border-top: 0;
}

#header a{
    text-decoration: none;
    color: #252627;
    font-weight: 900;
    font-size: 1em;
}

.item3{
    position: relative;
    padding-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.item3 button{
    position: relative;
    width: 100px;
    height: 40px;
    background-color: rgb(177, 1, 1);
    color: #FFFFFF;
    border: 2px solid black;
}

.item4{
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    background-color: #ebebeb;
    display: flex;
    justify-content: space-around;

}

.item4 ul{
    position: relative;
    height: 56px;
    display:inline-flex;
    vertical-align:auto;
    width: auto;
    padding: 0px;
    margin: 0px;
    transform: none;
    overflow: hidden;
    line-height: normal;
    list-style-type: none;
}

.item4 a{
    text-decoration: none;
    color: #252627;
    font-weight: 900;
    font-size: 1em;
}


