body{
    background-color:   #000000;  
  }
  header{
    width: 41%;
    margin-left: 29%;
    color:goldenrod;
  }
  
  article{
    background-color: rgb(46, 26, 91);
    color: goldenrod;
    text-align:justify;
    width: 40%;
    padding: 10px;
    margin-left: 29%;
  }
  
  img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width:100%;
  }
  
  #menu{
    background-color: rgb(46, 26, 91);
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    overflow: hidden;
    width: 41%;
    margin-left: 29%;
  }
  /* decoração do li dentro do id menu */
  #menu li {
    float:left;
      } 
  /* decoração do a que está no li dentro do id menu */
  #menu li a{
    display: block;
    text-align: center;
    padding: 10px 10px;
    text-decoration:none;
    color: goldenrod;
  }
  /*adicionar efeito hover com a cor azul nos links do menu*/
  #menu li a:hover{
    transition: 0.5s;
    color: white;
    background-color: goldenrod;
  }
  
  p{
    text-align: center;
  }
  
  h1{
    text-align: center;
    font-family: 'Arial';
  }
  
  ol li span{
    float: right;
  }
  
  ol li{
    border-bottom: 1px solid goldenrod;
  }
  
  footer{
    background-color:rgb(46, 26, 91);
    color: white;
  }
  
  #btt_link{
    text-align: center;
    padding: 10px 10px;
    list-style-type: none;
    
  }
  
  #btt_link a{
    text-decoration: none;
    color: white;
    background-color: goldenrod;
    border-radius: 5px;
    padding: 7px;
    overflow:hidden;
    margin:10px;
        }
  
  #btt_link a:hover{
    transition: 0.5s;
    background-color: black;
  }